
body {
  background-repeat: inherit;
  background-attachment: scroll;
  background-size:120rem;
  background-position-y: -10rem;
   font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
  margin: 3rem;
  background-color: rgb(30, 30, 30);
}


h2 {
  font-size: 30px;
}

.grow{
    transition: transform .2s;
    width:50px;
    height:50px;
    margin:0 auto;
}
.grow:hover{
    transform:scale(1.15);
  border-radius: 40%;
}

.tab {
  overflow: hidden;
  border: 1px solid rgb(49, 49, 49);
  background-color: rgb(49, 49, 49);
}

.tab button {
  background-color: inherit;
  font-family: system-ui;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #fea100;
}

.tab button.active {
  background-color: #8253017b;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid rgb(31, 31, 31);
  border-top: none;
   animation: fadeEffect 1s; 
}


@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.text {
  display: inline-block;
  vertical-align: top;
  font-family: system-ui;
  color:aliceblue;
}

.section{
  list-style-type: none;
  background-color: rgb(25, 25, 25);
  padding: px;
  margin: 10px;
  padding-left: 10%;
  padding-right: 10%;
  overflow: hidden;
}

.container {
  position: relative;
  justify-content: center;
}

.image {
  display: block;
  width: 30%;
  height: auto; 
  border-radius: 20%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}

a {
  text-decoration: none;
}

.avatar {
  vertical-align: middle;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 30%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(16, 16, 16);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(24, 24, 24);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(24, 24, 24);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #383838;
  overflow: hidden;
  text-overflow: clip;
  border-radius: 20px; /* Use pixels to get the correctly rounded corners - Loqor */

  height: 40vh; /* DON'T USE FIXED PIXEL HEIGHTS UNLESS NECESSARY - Loqor */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;        
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  .card {
    height: 250px;
  }
}